.Container {
  display: flex;
  position: fixed;
  background-color: rgba($dark-black, 0.5);
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  .Section {
    width: 360px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $white;
    border-radius: 15px;
    padding: 30px;
    &.Member-login {
      .Member-account {
        text-align: center;
        .Login-slogan {
          font-family: $secondary-kr;
          font-weight: 600;
          font-size: 20px;

          em {
            font-style: normal;
            color: $royalblue;
          }
        }
      }
      .Login-field {
        div {
          position: relative;
          margin: 15px 0;
          input[type="email"],
          input[type="password"],
          input[type="text"] {
            border: 1px solid $dim-gray;
            width: 100%;
            padding: 13px;
            border-radius: 5px;
            &::placeholder {
              color: $dark-gray;
            }
          }
          .bi {
            position: absolute;
            right: 15px;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
          }
        }
        .Btn-member-primary {
          background-color: $forestgreen;
          border: none;
          color: $white;
          width: 100%;
          padding: 11px;
          border-radius: 5px;
          font-size: 16px;
        }
      }
      .Join-member {
        font-size: 13px;
        text-align: center;
        margin: 10px 0;
        margin-bottom: 20px;
        a {
          text-decoration: underline;
        }
      }
      .Easy-login {
        .Btn-easy-login {
          display: block;
          padding: 10px;
          border-radius: 3px;
          margin: 7px 0;
          font-size: 16px;
          text-align: center;

          background-repeat: no-repeat;
          background-position: center left 20px;
          background-size: 20px;
          color: $white;
          &.Kakao {
            background-image: url("/static/images/icon-kakao.svg");
            background-color: #ffd912;
          }
          &.Facebook {
            background-image: url("/static/images/icon-facebook.svg");
            background-color: #005be5;
          }
          &.Apple {
            background-image: url("/static/images/icon-apple.svg");
            background-color: #333;
          }
          &.Email {
            background-image: url("/static/images/icon-email.svg");
            background-color: $white;
            border: 1px solid $dim-gray;
            color: $dark-black;
          }
        }
      }
      .Login-notice {
        font-size: 12px;
        text-align: center;
      }
      .Btn-modal-close {
        position: absolute;
        top: 10px;
        right: 20px;
        cursor: pointer;
        border: none;
        background: transparent;
        font-size: 1.3em;
      }
      .Or {
        display: block;
        text-align: center;
        color: $dark-gray;
        margin: 10px 0;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          height: 1px;
          width: 40%;
          background-color: $dim-gray;
          top: 50%;
          left: 0;
        }
        &::after {
          content: "";
          position: absolute;
          height: 1px;
          width: 40%;
          background-color: $dim-gray;
          top: 50%;
          right: 0;
        }
      }
    }
  }
}
